{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h1>🚀 IntelliCampus Smart Attendance</h1>
    <p class="mt-3">
        AI Powered • Face Recognition • Automated Analytics
    </p>

    <a href="/login" class="btn btn-light mt-3">Get Started</a>
</div>

<div class="row mt-5 g-4">

    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h4>🤖 AI Attendance</h4>
            <p>Face recognition based automatic marking.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h4>📊 Analytics</h4>
            <p>Live attendance insights & statistics.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h4>👥 Role Based Access</h4>
            <p>Admin • Faculty • Student dashboards.</p>
        </div>
    </div>

</div>

{% endblock %}