{% extends "base.html" %}
{% block content %}

<div class="card p-5 mx-auto" style="max-width:600px;">

<h3 class="mb-4 text-center">Register</h3>

<form method="POST" enctype="multipart/form-data">

<input class="form-control mb-3" name="name" placeholder="Name" required>
<input class="form-control mb-3" name="email" type="email" placeholder="Email" required>
<input class="form-control mb-3" name="password" type="password" placeholder="Password" required>

<select class="form-select mb-3" name="role" required>
<option value="">Select Role</option>
<option value="student">Student</option>
<option value="faculty">Faculty</option>
<option value="admin">Admin</option>
</select>

<label>Face Image (Required for Students)</label>
<input class="form-control mt-2 mb-3" type="file" name="face">

<button class="btn btn-success w-100">Register</button>

</form>

</div>

{% endblock %}