{% extends "base.html" %}

{% block content %}

<h2>Student Hub 🎓</h2>

<div class="card shadow p-4 mt-4">
    <h5>Your Attendance</h5>

    <h2 style="color:
        {% if current_user.attendance_percentage < 75 %}
            red
        {% else %}
            green
        {% endif %}
    ">
        {{ current_user.attendance_percentage }}%
        {% if current_user.is_defaulter %}
        <div class="alert alert-danger mt-4">
            ⚠️ Warning! Your attendance is below 75%.  
            Please attend classes regularly.
        </div>

        {% endif %}

    </h2>

</div>


{% endblock %}
